@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  /* color: rgb(var(--foreground-rgb)); */
  /* color: black; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-color: antiquewhite; */
  
}
.App{
  background: url("../../public/images/bg.png") rgb(9, 9, 9) -18.436px -42.8px / 103.1% 110.322% no-repeat;
  /* border:solid 4px green; */
}